# 반복문 (for, while)

코드를 반복해야 할 때 사용.  
지정된 범위만큼 (주로 반복횟수가 정해져 있을때 사용.)

# for문

In [1]:
for i in range(10):
    print("현재값:", i)

현재값: 0
현재값: 1
현재값: 2
현재값: 3
현재값: 4
현재값: 5
현재값: 6
현재값: 7
현재값: 8
현재값: 9

In [2]:
for i in range(0, 10, 2):
    print("현재값:", i)

현재값: 0
현재값: 2
현재값: 4
현재값: 6
현재값: 8

### for문 with list

In [3]:
for i in [1, 2, 3, 4, 5]:
    print("리스트 현재값: ", i)

리스트 현재값:  1
리스트 현재값:  2
리스트 현재값:  3
리스트 현재값:  4
리스트 현재값:  5

In [4]:
for a in ['a', 'b', 'c', 'd', 'e']:
    print("리스트 현재값:", a)

리스트 현재값: a
리스트 현재값: b
리스트 현재값: c
리스트 현재값: d
리스트 현재값: e

### for문 with tuple

In [5]:
t = ('a', 'b', 'c', 'd')
print(type(t))
for a in t:
    print("튜플 현재값:", a)

<class 'tuple'>
튜플 현재값: a
튜플 현재값: b
튜플 현재값: c
튜플 현재값: d

### for문 with dictionary

In [7]:
minsu_profile = {
    'height': 180,
    'age': 35,
    'weight': 72,
    'intro': "안녕하세요 민수입니다.",
    'friends': ['정수', '철수', '영희', '윤수']
}

In [8]:
for k in minsu_profile:
    # key 반복
    print(k)

height
age
weight
intro
friends

In [9]:
for k in minsu_profile:
    # key 반복
    print(k)
    print(minsu_profile[k])
    print("-"*10)

height
180
----------
age
35
----------
weight
72
----------
intro
안녕하세요 민수입니다.
----------
friends
['정수', '철수', '영희', '윤수']
----------

# 연습문제1-1
사용자로부터 정수를 입력받아  
해당 정수의 크기만큼 '안녕'을 출력하세요.

In [ ]:
a = int(input("정수를 입력해주세요:"))

# 코드 작성

# 연습문제1-2
사용자로부터 정수를 입력받아  
사용자로부터 정수를 입력받아, 입력된 정수 만큼 별 찍기

In [ ]:
a = int(input("정수를 입력해주세요:"))

# 코드 작성# 연습문제1-2

# 연습문제1-3
사용자로부터 정수를 입력받아  
사용자로부터 정수를 입력받아, 입력된 정수 만큼 별 찍기 **(역순)**

In [ ]:
a = int(input("정수를 입력해주세요:"))

# 코드 작성
사용자로부터 정수를 입력받아  
사용자로부터 정수를 입력받아, 입력된 정수 만큼 별 찍기

# enumerate()

In [10]:
# list
a = ['a', 'b', 'c', 'd', 'e']

In [11]:
for idx, value in enumerate(a):
    print(idx, value)

0 a
1 b
2 c
3 d
4 e

### for문의 중첩

In [12]:
for i in range(10):
    print("="*10)
    
    print(i, "번째 iloop")
    
    print("-"*10)
    
    for j in range(10):
        print(j, '번째 j루프')

==========
0 번째 iloop
----------
0 번째 j루프
1 번째 j루프
2 번째 j루프
3 번째 j루프
4 번째 j루프
5 번째 j루프
6 번째 j루프
7 번째 j루프
8 번째 j루프
9 번째 j루프
==========
1 번째 iloop
----------
0 번째 j루프
1 번째 j루프
2 번째 j루프
3 번째 j루프
4 번째 j루프
5 번째 j루프
6 번째 j루프
7 번째 j루프
8 번째 j루프
9 번째 j루프
==========
2 번째 iloop
----------
0 번째 j루프
1 번째 j루프
2 번째 j루프
3 번째 j루프
4 번째 j루프
5 번째 j루프
6 번째 j루프
7 번째 j루프
8 번째 j루프
9 번째 j루프
==========
3 번째 iloop
----------
0 번째 j루프
1 번째 j루프
2 번째 j루프
3 번째 j루프
4 번째 j루프
5 번째 j루프
6 번째 j루프
7 번째 j루프
8 번째 j루프
9 번째 j루프
==========
4 번째 iloop
----------
0 번째 j루프
1 번째 j루프
2 번째 j루프
3 번째 j루프
4 번째 j루프
5 번째 j루프
6 번째 j루프
7 번째 j루프
8 번째 j루프
9 번째 j루프
==========
5 번째 iloop
----------
0 번째 j루프
1 번째 j루프
2 번째 j루프
3 번째 j루프
4 번째 j루프
5 번째 j루프
6 번째 j루프
7 번째 j루프
8 번째 j루프
9 번째 j루프
==========
6 번째 iloop
----------
0 번째 j루프
1 번째 j루프
2 번째 j루프
3 번째 j루프
4 번째 j루프
5 번째 j루프
6 번째 j루프
7 번째 j루프
8 번째 j루프
9 번째 j루프
==========
7 번째 iloop
----------
0 번째 j루프
1 번째 j루프
2 번째 j루프
3 번째 j루프
4 번째 j루프
5 번째 j루프
6 번째 j루프
7 번째 j루프
8 번째 j루프
9 번째 j루프
==========
8 번째 iloop
----------
0 번째 j루프
1 번째 j루프
2 번째 j루프
3 번째 j루프
4 번째 j루프
5 번째 j루프
6 번째 j루프
7 번째 j루프
8 번째 j루프
9 번째 j루프
==========
9 번째 iloop
----------
0 번째 j루프
1 번째 j루프
2 번째 j루프
3 번째 j루프
4 번째 j루프
5 번째 j루프
6 번째 j루프
7 번째 j루프
8 번째 j루프
9 번째 j루프

# for문 list, tuple, set
# for문 dictionary

In [21]:
x = 10
y =x

In [22]:
y +=10

In [23]:
x

10

In [24]:
y

20

In [25]:
x = "Life is short"

In [26]:
y = x

In [27]:
x

'Life is short'

In [28]:
y

'Life is short'

In [29]:
y += "a"

In [30]:
x

'Life is short'

In [31]:
y

'Life is shorta'

In [20]:
l1 = ['a', 'b', 'c', 'd']
for i in l1:
    print(i)

a
b
c
d

# 연습문제2-1
(1)  x = [3, 6, 9, 20, -7, 5] 의 값의 모든 요소에 10을 곱한뒤 출력하세요  
**심화 : 출력과 리스트 x 의 값에도 모두 10을 곱해주세요**

In [19]:
x = [3, 6, 9, 20, -7, 5]

# 코드 작성
# for a in x:
#     print(a*10)

## 심화
for idx, val in enumerate(x):
    x[idx] *= 10
    
print(x)

[30, 60, 90, 200, -70, 50]

# 연습문제2-2
y = {“math”: 70, “science”: 80, “english”: 20} 의 값의 모든 요소에 10을 더한뒤 출력하세요  
**심화 : 출력과 딕셔너리 y 의 값에도 모두 10을 더해주세요**

In [ ]:
y = {'math': 70, 'science': 80, 'english': 20}

# 코드 작성

# 연습문제2-3
숫자를 입력받고 입력받은 정수의 구구단을 출력하세요

In [ ]:
a = int(input("정수를 입력하세요: "))
# 코드 작성

# 연습문제3-1
word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”]   
중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요

In [ ]:
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountain']

# 코드 작성

# 연습문제3-2
구구단을 1단부터 9단까지 출력하세요

In [ ]:
# 코드 작성

# 연습문제4
**1~100** 까지 숫자중  
3과 5의 **공배수**일경우 “3과 5의 공배수”  
그 외 **3의배수**일경우 “3의배수”  
그 외 **5의배수**일경우 “5의배수”  
모두 해당되지 않을경우 그냥숫자를 출력하세요  

**심화 : 1~입력한숫자까지의 숫자중**

# 부록
해당 변수가 반복문을 돌릴 수 있는지 어떻게 알 수 있을까?

##### string도 반복이 됩니다.

In [35]:
for a in "AABBBB":
    print(a)

A
A
B
B
B
B

##### 해당 변수가 iterator일 경우 반복이 가능.
##### = 해당 변수가 __iter__이라는 함수가 있을 경우 반복이 가능.  (함수는 나중에 배울 예정)

### 속성확인 dir()

In [37]:
# 속성 확인
# dir(1)
'__iter__' in dir("str")

True

##### __iter__속성이 있는지?

In [38]:
'__iter__' in dir("string")

True

In [39]:
'__iter__' in dir(1)

False

In [40]:
'__iter__' in dir(dict())

True

In [41]:
'__iter__' in dir(tuple())

True

# While문
어떠한 코드를 반복해야할때 사용  
조건에 따라 반복 (주로 반복횟수가 정해져있지 않을때)

## 사용법

In [1]:
i = 0

while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [2]:
i = 0
while i != 5:
    i = int(input("5를 입력하면 반복이 중단됩니다."))
    print(i, "를 입력하셨습니다.")

print("중단")

5를 입력하면 반복이 중단됩니다.2
2 를 입력하셨습니다.
5를 입력하면 반복이 중단됩니다.4
4 를 입력하셨습니다.
5를 입력하면 반복이 중단됩니다.5
5 를 입력하셨습니다.
중단

In [8]:
i = 0

while i<5:
    print(i)
    i += 1

print("중단 되었습니다.")

중단 되었습니다.

# 연습문제 5

사용자로부터 숫자를 계속 입력받다가  
s or S 를 입력하면 합계출력

In [14]:
# 코드 작성

num = '0'
total = 0

# while num.upper()!='S':
# while not(num=='S' or num=='s'):
while num!='S' and num!='s':
    total += int(num)
    num = input("숫자를 입력하세요: ")
    
print(total)

숫자를 입력하세요: 1
숫자를 입력하세요: 5
숫자를 입력하세요: s
6

# 연습문제 6
가위바위보 게임만들기  

가위(1), 바위(2), 보(3) 을 입력해주세요! : 3  
유저 : 보, 컴퓨터 : 보  
가위(1), 바위(2), 보(3) 을 입력해주세요! : 2  
유저 : 바위, 컴퓨터 : 보  
가위(1), 바위(2), 보(3) 을 입력해주세요! : 1  
유저 : 가위, 컴퓨터 : 보  
가위(1), 바위(2), 보(3) 을 입력해주세요! : 4  

게임종료 (전체:3 ,승리:1)

1~3 을 입력하면 게임진행 이외의 숫자를 입력하면 게임종료
심화 : 비긴숫자도 출력하세요 (전체:3, 승리:1, 비김:1)

In [ ]:
import random

# 코드작성

# 리스트 응용
---

# 연습문제 7
randint함수를 사용하여 정수(1~1000)로 이루어진 길이가 100개인 리스트 a를 만들고   
가장 큰 수를 구하는 코드를 작성하시오.  

예) a=[32, 45, 2, 5, 76] 일때, 출력결과는 76이 나와야 함.

In [ ]:
import random
a = []
# 코드 작성

## 리스트의 가장 큰 수 & 작은 수

In [ ]:
a = [32, 45, 2, 5, 76]
small = a[0]
for i in a:
    if i < small:
        small = i

print(small)

In [ ]:
max(a)

In [ ]:
min(a)

In [ ]:
sorted(a)[0] # 작은 수

In [ ]:
sorted(a)[-1] # 큰 수

# 연습문제 8
randint함수를 사용하여 정수(1~1000)로 이루어진 길이가 100개인 리스트 a를 만들고 
리스트의 모든 요소의 합계를 구하는 코드를 작성하시오.

예) a=[32, 45, 2, 5, 76] 일때, 출력결과는 160이 나와야 함.

In [ ]:
import random
a = []
# 코드 작성

# 리스트 컴프리핸션 (list comprehension)
한 줄로 리스트 만들기

In [15]:
a = [i for i in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
a = [i+3 for i in range(10)]
print(a)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [17]:
a = [3, 5, 7, 10, 2, 3]

b = [i*3 for i in a]
print(b)

[9, 15, 21, 30, 6, 9]

## 리스트 컴프리핸션(with if)

In [18]:
a = [i for i in range(10) if i % 2==0]
a 

# a = []

# for i in range(10):
#     if i%2==0:
#         a.append(i)

[0, 2, 4, 6, 8]

In [19]:
a = [3, 5, 7, 10, 2, 3]

b = [i for i in a if i%2==1]
print(b)

[3, 5, 7, 3]

## 리스트 컴프리핸션(with if)

In [20]:
a = [i * j for i in range(10, 20) for j in range(1, 10)]
print(a)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 11, 22, 33, 44, 55, 66, 77, 88, 99, 12, 24, 36, 48, 60, 72, 84, 96, 108, 13, 26, 39, 52, 65, 78, 91, 104, 117, 14, 28, 42, 56, 70, 84, 98, 112, 126, 15, 30, 45, 60, 75, 90, 105, 120, 135, 16, 32, 48, 64, 80, 96, 112, 128, 144, 17, 34, 51, 68, 85, 102, 119, 136, 153, 18, 36, 54, 72, 90, 108, 126, 144, 162, 19, 38, 57, 76, 95, 114, 133, 152, 171]

In [21]:
# 이중 for문 과 동일함
b = []
for i in range(10,20):
    for j in range(1, 10):
        b.append(i*j)
        
print(b)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 11, 22, 33, 44, 55, 66, 77, 88, 99, 12, 24, 36, 48, 60, 72, 84, 96, 108, 13, 26, 39, 52, 65, 78, 91, 104, 117, 14, 28, 42, 56, 70, 84, 98, 112, 126, 15, 30, 45, 60, 75, 90, 105, 120, 135, 16, 32, 48, 64, 80, 96, 112, 128, 144, 17, 34, 51, 68, 85, 102, 119, 136, 153, 18, 36, 54, 72, 90, 108, 126, 144, 162, 19, 38, 57, 76, 95, 114, 133, 152, 171]

In [22]:
a = [i * j * k for i in range(1, 10) for j in range(1, 10) for k in range(1, 10)] # 3중 for문
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81, 2, 4, 6, 8, 10, 12, 14, 16, 18, 4, 8, 12, 16, 20, 24, 28, 32, 36, 6, 12, 18, 24, 30, 36, 42, 48, 54, 8, 16, 24, 32, 40, 48, 56, 64, 72, 10, 20, 30, 40, 50, 60, 70, 80, 90, 12, 24, 36, 48, 60, 72, 84, 96, 108, 14, 28, 42, 56, 70, 84, 98, 112, 126, 16, 32, 48, 64, 80, 96, 112, 128, 144, 18, 36, 54, 72, 90, 108, 126, 144, 162, 3, 6, 9, 12, 15, 18, 21, 24, 27, 6, 12, 18, 24, 30, 36, 42, 48, 54, 9, 18, 27, 36, 45, 54, 63, 72, 81, 12, 24, 36, 48, 60, 72, 84, 96, 108, 15, 30, 45, 60, 75, 90, 105, 120, 135, 18, 36, 54, 72, 90, 108, 126, 144, 162, 21, 42, 63, 84, 105, 126, 147, 168, 189, 24, 48, 72, 96, 120, 144, 168, 192, 216, 27, 54, 81, 108, 135, 162, 189, 216, 243, 4, 8, 12, 16, 20, 24, 28, 32, 36, 8, 16, 24, 32, 40, 48, 56, 64, 72, 12, 24, 36, 48, 60, 72, 84, 96, 108, 16, 32, 48, 64, 80, 96, 112, 128, 144, 20, 40, 60, 80, 100, 120, 140, 160, 180, 24, 48, 72, 96, 120, 144, 168, 192, 216, 28, 56, 84, 112, 140, 168, 196, 224, 252, 32, 64, 96, 128, 160, 192, 224, 256, 288, 36, 72, 108, 144, 180, 216, 252, 288, 324, 5, 10, 15, 20, 25, 30, 35, 40, 45, 10, 20, 30, 40, 50, 60, 70, 80, 90, 15, 30, 45, 60, 75, 90, 105, 120, 135, 20, 40, 60, 80, 100, 120, 140, 160, 180, 25, 50, 75, 100, 125, 150, 175, 200, 225, 30, 60, 90, 120, 150, 180, 210, 240, 270, 35, 70, 105, 140, 175, 210, 245, 280, 315, 40, 80, 120, 160, 200, 240, 280, 320, 360, 45, 90, 135, 180, 225, 270, 315, 360, 405, 6, 12, 18, 24, 30, 36, 42, 48, 54, 12, 24, 36, 48, 60, 72, 84, 96, 108, 18, 36, 54, 72, 90, 108, 126, 144, 162, 24, 48, 72, 96, 120, 144, 168, 192, 216, 30, 60, 90, 120, 150, 180, 210, 240, 270, 36, 72, 108, 144, 180, 216, 252, 288, 324, 42, 84, 126, 168, 210, 252, 294, 336, 378, 48, 96, 144, 192, 240, 288, 336, 384, 432, 54, 108, 162, 216, 270, 324, 378, 432, 486, 7, 14, 21, 28, 35, 42, 49, 56, 63, 14, 28, 42, 56, 70, 84, 98, 112, 126, 21, 42, 63, 84, 105, 126, 147, 168, 189, 28, 56, 84, 112, 140, 168, 196, 224, 252, 35, 70, 105, 140, 175, 210, 245, 280, 315, 42, 84, 126, 168, 210, 252, 294, 336, 378, 49, 98, 147, 196, 245, 294, 343, 392, 441, 56, 112, 168, 224, 280, 336, 392, 448, 504, 63, 126, 189, 252, 315, 378, 441, 504, 567, 8, 16, 24, 32, 40, 48, 56, 64, 72, 16, 32, 48, 64, 80, 96, 112, 128, 144, 24, 48, 72, 96, 120, 144, 168, 192, 216, 32, 64, 96, 128, 160, 192, 224, 256, 288, 40, 80, 120, 160, 200, 240, 280, 320, 360, 48, 96, 144, 192, 240, 288, 336, 384, 432, 56, 112, 168, 224, 280, 336, 392, 448, 504, 64, 128, 192, 256, 320, 384, 448, 512, 576, 72, 144, 216, 288, 360, 432, 504, 576, 648, 9, 18, 27, 36, 45, 54, 63, 72, 81, 18, 36, 54, 72, 90, 108, 126, 144, 162, 27, 54, 81, 108, 135, 162, 189, 216, 243, 36, 72, 108, 144, 180, 216, 252, 288, 324, 45, 90, 135, 180, 225, 270, 315, 360, 405, 54, 108, 162, 216, 270, 324, 378, 432, 486, 63, 126, 189, 252, 315, 378, 441, 504, 567, 72, 144, 216, 288, 360, 432, 504, 576, 648, 81, 162, 243, 324, 405, 486, 567, 648, 729]

In [24]:
a = [i * j * k for i in range(1, 10) if i%2==0 for j in range(1, 10) if j%2==1 for k in range(1, 10) if k%2==1] # 3중 for문 중간 중간 if문
print(a)

a = []
for i in range(1,10):
    if i%2==0:
        for j in range(1,10):
            if i%2==1:
                for k in range(1,10):
                    if i%2==0:
                        a.append(i*j*k)

[2, 6, 10, 14, 18, 6, 18, 30, 42, 54, 10, 30, 50, 70, 90, 14, 42, 70, 98, 126, 18, 54, 90, 126, 162, 4, 12, 20, 28, 36, 12, 36, 60, 84, 108, 20, 60, 100, 140, 180, 28, 84, 140, 196, 252, 36, 108, 180, 252, 324, 6, 18, 30, 42, 54, 18, 54, 90, 126, 162, 30, 90, 150, 210, 270, 42, 126, 210, 294, 378, 54, 162, 270, 378, 486, 8, 24, 40, 56, 72, 24, 72, 120, 168, 216, 40, 120, 200, 280, 360, 56, 168, 280, 392, 504, 72, 216, 360, 504, 648]

## list to dict

In [26]:
keys = ['name', 'age', 'address']
users = ['tom', 20, 'Dongjak-gu, Seoul, Korea']

In [30]:

user_dict = {keys[i]: users[i] for i in range(len(keys))}
print(user_dict)
print(type(user_dict))

{'name': 'tom', 'age': 20, 'address': 'Dongjak-gu, Seoul, Korea'}
<class 'dict'>

In [35]:
keys = ['name', 'age', 'address']
users = ['tom', 20, 'Dongjak-gu, Seoul, Korea']

user_dict = {key: users[idx] for idx, key in enumerate(keys)}
print(user_dict)

{'name': 'tom', 'age': 20, 'address': 'Dongjak-gu, Seoul, Korea'}

### zip()

In [41]:
keys = ['name', 'age', 'address']
users = ['tom', 20, 'Dongjak-gu, Seoul, Korea']
a=zip(keys, users)

a

In [32]:
user_dict2 = dict(zip(keys, users))

print(user_dict2)

{'name': 'tom', 'age': 20, 'address': 'Dongjak-gu, Seoul, Korea'}

In [34]:
user_list = list(zip(keys, users))
print(user_list)

user_list[0][1]

[('name', 'tom'), ('age', 20), ('address', 'Dongjak-gu, Seoul, Korea')]

'tom'

# 연습문제 9-1
word = [“school”, “game”, “piano”, “science”, “hotel”, “mountain”] 중   
글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요  
**(리스트 컴프리핸션을 사용해주세요)**

In [ ]:
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountain']

# 코드 작성

# 연습문제 9-2
word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”] 리스트의  
글자수가 들어가있는 새로운 리스트를 생성하세요  
**(리스트 컴프리핸션을 사용해주세요)**

In [ ]:
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountain']

# 코드 작성

# 2차원 리스트 응용

# break, continue

## break

In [43]:
for i in range(5):
    
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
for i in range(5):
    print(i)
    
    if i == 3:
        break

## continue

In [44]:
for i in range(5):
    if i==3:
        continue

    print(i)

0
1
2
4

In [46]:
while True:
    num = int(input("번호를 입력하세요: "))
    if num == 1:
        break


# while num!=1:

번호를 입력하세요: 2
번호를 입력하세요: 3
번호를 입력하세요: 4
번호를 입력하세요: 1